@import '../assets/theme/var';


body {
  font-size: 1rem;
  overflow-x: clip;
  font-family: $basefont;
  background-color: $themeclr;
}

*,
::after,
::before {
  box-sizing: border-box;
}

hr {
  color: $white;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  color: $baseclr;
}

.text-link {
  color: $baseclr;

  &:hover {
    opacity: 0.6;
  }
}

a,
span {
  display: inline-block;
}

svg {
  path {
    transition: all ease-in-out 0.3s;
  }
}


ol {
  padding: 0;
  margin: 0;
}

small {
  font-family: $basefont;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
  margin-bottom: 0;
  color: $white;
}

h1,
.h1 {
  font-size: 3rem;
  font-weight: 800;

  // @media (max-width:1279px) {
  //   font-size: 3rem;
  // }

  @media (max-width:1199px) {
    font-size: 2.5rem;
  }

  @media (max-width:767px) {
    font-size: 1.5rem;
  }
}

h2,
.h2 {
  font-size: 5rem;
  font-weight: 800;

  @media (max-width:1269px) {
    font-size: 3rem;
  }

  @media (max-width:767px) {
    font-size: 1.563rem;
  }
}

h3,
.h3 {
  font-size: 2.8rem;
  font-weight: 800;

  @media (max-width:1199px) {
    font-size: 1.688rem;
  }

  @media (max-width:767px) {
    font-size: 1.5rem;
  }
}

h4,
.h4 {
  font-size: 1.65rem;
  line-height: 35px;
  font-weight: 600;

  @media (max-width:767px) {
    font-size: 1.25rem;
    line-height: 25px;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
  line-height: 30px;
  font-weight: 600;

  @media (max-width:767px) {
    font-size: 1rem;
    line-height: 25px;
  }
}

h6,
.h6 {
  font-size: 1.125rem;
  font-weight: 600;

  @media (max-width:767px) {
    font-size: 1rem;
  }
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: $borderclr;
  opacity: 1;
  margin: 1.25rem 0;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.py-40 {
  padding: 40px 0;
}

.py-80 {
  padding: 80px 0;

  @media (max-width: 767px) {
    padding: 40px 0;
  }
}

.py-100 {
  padding: 100px 0;

  @media (max-width: 1199px) {
    padding: 70px 0;
  }

  @media (max-width: 767px) {
    padding: 50px 0;
  }
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;

  @media (max-width: 767px) {
    margin-top: 30px !important;
  }
}

.mt-50 {
  margin-top: 50px !important;

  @media (max-width: 767px) {
    margin-top: 30px !important;
  }
}

.my-10 {
  margin: 10px 0 !important;
}

.my-20 {
  margin: 20px 0 !important;
}

.my-30 {
  margin: 30px 0 !important;
}

.my-40 {
  margin: 40px 0 !important;

  @media (max-width: 767px) {
    margin: 30px 0 !important;
  }
}

.my-50 {
  margin: 50px 0 !important;

  @media (max-width: 767px) {
    margin: 30px 0 !important;
  }
}

figure {
  margin-bottom: 0;
}

.red_text {
  color: $red !important;

  svg {
    path {
      fill: $red !important;
    }
  }
}

.green_text {
  color: $green !important;

  svg {
    path {
      fill: $green !important;
    }
  }
}

.white_icon {
  svg {
    path {
      fill: $white !important;
    }
  }
}

.yellowlight_text {
  color: $yellowlighttext !important;
}

.greenlight_text {
  color: $greenlighttext !important;
}

.redlight_text {
  color: $redlighttext !important;
}

.blue_text {
  color: $baseclr !important;
}

.grey_text {
  color: $textclr !important;
}

.lightgrey_text {
  color: $lightgreyclr !important;
}

.yellow_text {
  color: $yellow !important;

  svg {
    path {
      fill: $yellow !important;
    }
  }
}

.green_bg {
  background-color: $greenlightbg !important;
}

.red_bg {
  background-color: $redlightclr !important;
}

.blue_bg {
  background-color: $clr031940 !important;
}

.bluelight_bg {
  background-color: $clr04498C !important;
  color: $white !important;
}

.greenlight_bg {
  background-color: $greenlightbg !important;
}

.white_bg {
  background-color: $white !important;
}

.whitelight_bg {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.Redgrandient {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    linear-gradient(270.33deg, rgba(255, 105, 106, 0.4) 0%, rgba(255, 105, 106, 0.2) 50%, rgba(255, 105, 106, 0.4) 100%) !important;

  svg {
    path {
      fill: $redlightclr !important;
    }
  }

  &:hover {
    background: linear-gradient(0deg, #ffffff28, #ffffff28), linear-gradient(270.33deg, #ff696a80, #ff696a40, #ff696a80) !important;
  }
}

.greengrandient {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    linear-gradient(270.33deg, rgba(50, 205, 51, 0.4) 0%, rgba(50, 205, 51, 0.15) 45.5%, rgba(50, 205, 51, 0.4) 98%) !important;

  svg {
    path {
      fill: $green !important;
    }
  }

  &:hover {
    background: linear-gradient(0deg, #ffffff28, #ffffff28), linear-gradient(270.33deg, #32cd3380, #32cd3340 45.5%, #32cd3380 98%) !important;
  }
}
.bluedark_bg {
  background: $clr04498C !important;
}

.greengrandientbg {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    linear-gradient(270.33deg, rgba(50, 205, 51, 0.4) 0%, rgba(50, 205, 51, 0.15) 45.5%, rgba(50, 205, 51, 0.4) 98%) !important;
    border: 0 !important;
}

.redgrandientbg {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    linear-gradient(270.33deg, rgba(255, 105, 106, 0.4) 0%, rgba(255, 105, 106, 0.2) 50%, rgba(255, 105, 106, 0.4) 100%) !important;
    border: 0 !important;
}

.cardgrandient {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 185, 255, 0.5) 21.5%, rgba(0, 83, 153, 0.5) 100%),
    linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 47.5%, rgba(255, 255, 255, 0) 100%);    
}

.green_arrow {
  svg {
    path {
      fill: $green !important;
    }
  }
}

body {
  ::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-track {
    box-shadow: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #0557A3;
    border-radius: 1rem;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 1400px) {
    max-width: 1300px;
  }

  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  caret-color: transparent !important;
  -webkit-text-fill-color: $black;
}

.commonCard {
  background-color: $cardbg;
  padding: 2.5em;
  border-radius: 0.625rem;
  border: 1px solid $baseclr;

  @media (max-width:1399px) {
    padding: 2em;
  }

  @media (max-width:1199px) {
    padding: 1.25em 1rem;
  }
}

.borderTabs {
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: clip;
  border-bottom: 0;

  &.nav {
    border-bottom: 1px solid rgba(233, 234, 240, 0.15);

    .nav-item {
      margin-right: 1.875rem;

      @media (max-width: 767px) {
        margin-right: 1rem;
      }

      &:last-child {
        margin-right: 0;
      }

      .nav-link {
        color: $greytext;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: normal;
        background-color: transparent;
        border: 0;
        border-bottom: 3px solid transparent;
        border-radius: 0;
        padding: 0;
        padding-bottom: 1.5rem;
        transition: all ease-in-out 0.3s;

        @media (max-width: 767px) {
          font-size: 1rem;
          // padding: 0rem 0rem 1rem;
        }

        &.active {
          border-bottom: 3px solid $baseclr;
          color: $baseclr;
        }
      }
    }
  }
}

.radioBtn {
  display: flex;
  flex-wrap: wrap;

  .checkbox_input {
    .form-check {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $borderclr;
      border-radius: 1rem;
      min-height: 64px;
      padding: 0.5rem 1.25rem;
      cursor: pointer;
      transition: all ease-in-out 0.3s;

      @media (max-width:1399px) {
        min-height: 50px;
      }

      @media (max-width:767px) {
        padding: 0.5rem 1rem;
      }

      .form-check-input {
        margin: 0;
        cursor: pointer;
        width: 20px;
        height: 20px;
        background-color: transparent;
      }

      .form-check-label {
        margin-bottom: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-left: 1.25rem;
        margin: 0;
        color: $greytext;

        @media (max-width:575px) {
          padding-left: 0.5rem;
        }

        .radioIcon {
          margin-right: 0.625rem;
        }
      }

      &.active,
      &:hover {
        background-color: $blackbg;
        border-color: $baseclr;

        .form-check-label {
          color: $textclr;
        }
      }
    }
  }
}

.big_tabs {
  &.nav {
    .nav-item {
      display: flex;

      .nav-link {
        padding: 1.5rem 1rem;
        background-color: rgba(4, 73, 140, 0.2);
        border: 2px solid rgba(4, 73, 140, 0.2);
        width: 100%;
        border-radius: 30px;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -1px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $white;

        @media (max-width: 767px) {
          font-size: 18px;
          padding: 1rem 0.5rem;
        }

        .tabs_icon {
          display: block;
          margin-bottom: 14px;
          width: 56px;
          height: 56px;
          background-color: rgba(3, 25, 64, 0.3);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 14px;
        }

        &.active {
          background: linear-gradient(180deg, #04498C 0%, #011426 100%);
          border: 2px solid rgba(0, 173, 239, 0.5);
          color: $white;
        }
      }
    }
  }
}

.slider-container {

  .slick-slider {
    // .slick-list {
    //   .slick-track {
    //     .slick-slide {
    //     }
    //   }
    // }

    .slick-arrow {

      &.slick-prev,
      &.slick-next {
        position: absolute;
        bottom: 0px;
        width: 50px;
        height: 50px;
        border-radius: 10rem;
        background-color: $baseclr;
        z-index: 2;

        @media (max-width: 991px) {
          width: 32px;
          height: 32px;
        }
      }

      &.slick-prev {
        left: -25px;

        @media (min-width: 576px) and (max-width: 767px) {
          left: 5px;
        }

        @media (max-width: 374px) {
          left: 5px;
        }

        &:before {
          content: '';
          width: 8px;
          height: 15px;
          background-image: url("../assets/images/icons/rightAarrow.svg");
          background-repeat: no-repeat;
          background-size: 100%;
          position: absolute;
          top: 50%;
          left: 48%;
          transform: translate(-50%, -50%) rotate(180deg);
          opacity: 1;

          // @media (max-width: 991px) {
          //   width: 16px;
          //   height: 12px;
          // }
        }
      }

      &.slick-next {
        right: -25px;

        @media (min-width: 576px) and (max-width: 767px) {
          right: 5px;
        }

        @media (max-width: 374px) {
          right: 5px;
        }

        &:before {
          content: '';
          width: 8px;
          height: 15px;
          background-image: url("../assets/images/icons/rightAarrow.svg");
          background-repeat: no-repeat;
          background-size: 100%;
          position: absolute;
          top: 54%;
          left: 52%;
          transform: translate(-50%, -50%);
          opacity: 1;

          // @media (max-width: 991px) {
          //   width: 16px;
          //   height: 12px;
          // }
        }
      }
    }
  }
}

.common_dropdown {
  &.dropdown {
    .dropdown-toggle {
      color: $white;
      border: 0;
      border-radius: 0.625rem;
      font-size: 1.25rem;
      padding: 0.625rem 1.25rem;
      display: flex;
      align-items: center;

      @media (max-width: 991px) {
        font-size: 1.8rem;
      }

      @media (min-width: 1200px) {
        &:hover {
          background-color: $clr283f67;
          color: $white;
        }
      }
    }

    .dropdown-menu {
      background-color: #031940;
      border-radius: 0.625rem;
      border: 1px solid rgba(255, 255, 255, 0.3);
      min-width: 200px;

      .dropdown-item {
        font-size: 1.25rem;
        font-weight: 600;
        padding: 0.625rem 1rem;
        color: $white;

        &:hover {
          background-color: $clr283f67;
          color: $white;
        }

        @media (max-width: 991px) {
          font-size: 1rem;
        }
      }
    }
  }
}

.home-page {
  .common_dropdown {
    &.dropdown {
      .dropdown-menu {
        background-color: $clr1E222D;

        .dropdown-item {
          &:hover {
            background-color: $clr2A2E39;
            color: $white;
          }
        }
      }
    }
  }
}

.form-control {
  min-height: 56px;
  box-shadow: none;
  outline: none;
  width: 100%;
  padding: 0.5rem 1.25rem;
  border-radius: 1rem;
  border: 1px solid $inputbgclr;
  background-color: $inputbgclr;
  color: $black;
  font-size: 1rem;

  @media (max-width:1599px) {
    min-height: 52px;
    font-size: 1rem;
  }

  &.is-invalid,
  &.was-validated,
  &:invalid {
    background-image: none;
    border-color: $red;
  }

  &:hover {
    appearance: none;
  }

  &::placeholder {
    color: $white;
    opacity: 0.4;
  }

  &:disabled {
    background-color: transparent;
  }

  &:focus {
    box-shadow: none;
    border: 1px solid $inputbgclr;
    background-color: $inputbgclr;
    color: $white;
  }

  &.passwordInput {
    padding-right: 4.375rem;
  }
}