@import "../../../../assets/theme/_var.scss";

.admin_sidebar {
    &_wrapper {
        position: relative;

        .linkList {
            border-bottom: 1px solid $baseclr;
            // margin-bottom: 7px;

            @media (max-width: 991px) {
                border: none;
            }

            &:last-child {
                margin-bottom: 0;
                border-bottom: 0;

                a {
                    .linktext {
                        background: radial-gradient(50% 50% at 50% 50%, #00B9FF 0%, #04498C 100%);
                    }
                }
            }

            a {
                display: flex;
                align-items: center;                
                padding-bottom: 7px;
                padding-top: 7px;

                .linktext {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $baseclr;
                    text-decoration: none;
                    padding: 0.5rem 0;
                    font-size: 1.25rem;
                    font-weight: 600;
                    line-height: 1.4;
                    width: 60px;
                    height: 60px;
                    border-radius: 10rem;
                    border: 2px solid $baseclr;
                    background-color: $clr04498C;
                    transition: all ease-in-out 0.3s;

                    svg {
                        width: 30px;
                    }

                    @media (max-width: 991px) {
                        width: 56px;
                        height: 56px;
                    }
                }

                &:hover,
                &.active {

                    @media screen and (min-width: 992px) {                        
                        background-color: #283F67;
                    }

                    .linktext {
                        border-color: #32CD33;
                        box-shadow: 0 0 10px 4px rgba(#32CD33, 0.5);
                    }
                }

                .fulltext {
                    color: $white;
                    font-size: 1.15rem;
                    padding-left: 0.625rem;
                    font-weight: 600;

                    @media (max-width: 1279px) {
                        font-size: 1rem;
                    }

                    @media (max-width: 991px) {
                        display: none;
                    }
                }
            }
        }
    }

    .scroll-btn {
        background-color: $baseclr;
        color: white;
        border: none;
        padding: 0;
        cursor: pointer;
        font-size: 1.2rem;
        min-width: 30px;
        min-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10rem;
        position: absolute;
        display: none;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;

        @media (max-width: 767px) {
            display: flex;
        }

        &.left {
            left: 10px;

            svg {
                transform: rotate(180deg);
            }

        }

        &.right {
            right: 10px;
        }

        &:hover {
            background-color: $baseclr;
        }

        &.disabled,
        &:disabled {
            background-color: #414c60;
        }
    }
}