@import "../../../../assets/theme/_var.scss";

.our_mission {
    padding: 170px 0 205px;
    position: relative;
    z-index: 1;
    background: linear-gradient(180deg, #000000 74.64%, #001331 90%);
    mix-blend-mode: screen;

    @media(min-width:1500px) { 
        min-height: 50vw;
    }

    @media(max-width:767px) {
        padding: 170px 0 205px;
    }

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: linear-gradient(180deg, #0000005c 84.64%, #00133100 100%);
    //     z-index: -1;

    //     @media(max-width:767px) {
    //         height: 100%;
    //     }
    // }

    &::before {     
        @media(max-width:767px) {
            content: '';
            position: absolute;
            top: 0%;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("../../../../assets/images/spotlight.png");
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 0;
        }
    }

    &_content {
        max-width: 800px;
        margin: 0 auto;

        p {
            font-size: 24px;
            font-weight: 600;
            line-height: 36px;
            letter-spacing: -1px;
            text-align: left;
            padding-top: 2rem;

            @media(max-width:767px) {
                font-size: 20px;
                line-height: 30px;
            }

            @media(max-width:575px) {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}